OpenCVPract/LearnOpenCV/LearnOpenCV/x64/Release/*
OpenCVPract/LearnOpenCV/LearnOpenCV/*.vcxproj
OpenCVPract/LearnOpenCV/LearnOpenCV/*.vcxproj.filters
OpenCVPract/LearnOpenCV/x64/Release/*
OpenCVPract/LearnOpenCV/*.*